# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
backend/.env
frontend/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/
